﻿@model ProjectBlackjack.Models.Player
@using ProjectBlackjack.Models;

<h3>Player Info: </h3>
FinalPoints:
<br />
<input type="text" id="PlayerFinalPointsTextBox" value="@Model.Hand.FinalPoints" disabled="disabled" />
<br />
IsBusted:
<br />
<input type="checkbox" id="PlayerIsBustedCheckBox" checked="@Model.Hand.IsBusted" />
<br />
ShowBusted:
<br />
<input type="checkbox" id="PlayerShowBustedCheckBox" checked="@Model.ShowBusted" />
<br />
IsBlaskJack:
<br />
<input type="checkbox" id="PlayerIsBlackJackCheckBox" checked="@Model.Hand.IsBlackJack" />
<br />
ShowBlackJack:
<br />
<input type="checkbox" id="PlayerShowBlackJackCheckBox" checked="@Model.ShowBlackJack" />
<br />
End:
<br />
<input type="checkbox" id="PlayerEndCheckBox" checked="@Model.Hand.End" />
<br />
IsSeventeen:
<br />
<input type="checkbox" id="PlayerIsSeventeenCheckBox" checked="@Model.Hand.IsSeventeen" />
<br />
AccountAmount:
<br />
<input type="number" id="PlayerAccountAmountTextBox" value="@Model.Account" disabled="disabled" />
<br />
BetAmount:
<br />
<input type="number" id="PlayerBetAmountTextBox" value="@Model.Bet" disabled="disabled" />
<br />

@{
    ((Player)Session["Player"]).ShowBusted = false;
    ((Player)Session["Player"]).ShowBlackJack = false;
}

