﻿@model ProjectBlackjack.Models.Player
@using ProjectBlackjack.Models;

<h3>Dealer Info: </h3>
FinalPoints:
<br />
<input type="text" id="DealerFinalPointsTextBox" value="@Model.Hand.FinalPoints" disabled="disabled" />
<br />
IsBusted:
<br />
<input type="checkbox" id="DealerIsBustedCheckBox" checked="@Model.Hand.IsBusted" />
<br />
ShowBusted:
<br />
<input type="checkbox" id="DealerShowBustedCheckBox" checked="@Model.ShowBusted" />
<br />
IsBlaskJack:
<br />
<input type="checkbox" id="DealerIsBlackJackCheckBox" checked="@Model.Hand.IsBlackJack" />
<br />
ShowBlackJack:
<br />
<input type="checkbox" id="DealerShowBlackJackCheckBox" checked="@Model.ShowBlackJack" />
<br />
End:
<br />
<input type="checkbox" id="DealerEndCheckBox" checked="@Model.Hand.End" />
<br />
IsSeventeen:
<br />
<input type="checkbox" id="DealerIsSeventeenCheckBox" checked="@Model.Hand.IsSeventeen" />
<br />

@{
    ((Player)Session["Dealer"]).ShowBusted = false;
    ((Player)Session["Dealer"]).ShowBlackJack = false;
}

