body {
  font-family: sans-serif;
  counter-reset: gamescore 0;
  background-color: #C1ECFA;
}
#mainheading {
  background-color: lightblue;
  margin: 200px 0px;
  padding: 55px;
  width: 600px;
  box-sizing: border-box;
  color: black;
  font-size: 32pt;
  text-align: center;
}

#start {
  position: relative;
  background-color: lightblue;
  top: -100px;
  left: 170px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  resize: none;
  cursor: -webkit-grab;
  cursor: grab;
  color: black;
  font-size: 30pt;
}

#gameheading {
  position:relative;
  margin: auto;
  margin-top: 50px;
  background-color: lightblue;
  font-size: 2em;
  /* margin: 20px 0px; */
  border: 2px solid black;
  border-radius: 4px;
  padding: 14px;
  width: 500px;
  box-sizing: border-box;
  resize: none;
  color: black;
  text-align: center;
}
.main_area {
  width: 600px;
  height: 500px;
  margin: auto;
  background-color: #C1ECFA;
}

.game_area {
  position: relative;
  margin: auto;
  margin-top: 5px;
  /* margin-bottom: 100px; */
  width: 1000px;
  border: 2px solid grey;

  height: 900px;
  /* margin: auto; */
  /* background-color: #C1ECFA; */
}

.withoutlink {
  text-decoration: none;
}

#score {
  position: absolute;
  font-size: 2em;
  right:50px;
  top: 50px;
  background-color: lightblue;
  margin: 0px 8px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0px 5px;
  line-height: 1pt;
  box-sizing: border-box;
}

h3, h2 {
  margin: 40px 10px 0px;
}

#restart, #showall {
  position: absolute;
  top: 50px;
  left: 50px;
  height:70px;
  width: 150px;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  background-color: lightblue;
  /* margin: 0px 8px; */
  border: 2px solid black;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  resize: none;
  cursor: -webkit-grab;
  cursor: grab;
  color: black;
}

img, h3 {
  animation-name: hideGame;
  animation-delay: 60s;
  animation-duration: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes hideGame {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

.reset {
  animation-play-state: running;
  visibility: collapse;
  animation-name: showReset;
  animation-delay: 60s;
  animation-duration: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes showReset {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

#restart:enabled~.bar_timer {
  animation-play-state: running;
}


.reset {
  /* position: fixed;
  top: 870px;
  left: 680px; */
  position:absolute;
  margin: auto;
  margin-left: 250px;
  top: 300px;
  color: red;
  font-size: 3em;
}

.bar_timer {
  /* position: fixed; */
  position:absolute;
  margin-left: 80px;
  bottom: 20px;
  /* top: 870px; */
  /* left: 680px; */
  background-color: green;
  width: 840px;
  height: 30px;
  transition: width 1s;
  border-radius: 3px;
  animation-name: killtime;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

@keyframes killtime {
  0% {
    width: 840px;
    background-color: lightgreen;
  }
  100% {
    width: 0px;
    background-color: red;
  }
}

img.img-card {
  position: absolute;
  height: 96px;
  width: 96px;
  top: 0px;
  left: 0px;
  padding: 24px 0;
  cursor: -webkit-grab; cursor: grab;
  border: 2px ridge  #eed;
  border-radius: 18px;
  backface-visibility: hidden;
  background-color: #eed;
  transform: rotateY(180deg);
}
img.img-card-backwards {
  height: 144px;
  padding: 0;
  left: 0px;
  border-color: #d80027;
  transform: rotateY(0deg);
  /* backface-visibility: hidden; */
}
.card_table,.card_table_reference{
  width: 106px;
  height: 154px;
  margin: 12px 24px;
  padding: 5px 5px;
  perspective: 500px;
  float: left;
  cursor: -webkit-grab; cursor: grab;
  /* background-color: yellow; */
}
.card {
  /* width: 100%; */
  /* height: 100%; */
  transition: transform 1s;
  transform-style: preserve-3d;
  /* transform: rotateY(-180deg); */
  /* position: relative; */
  transform-origin: center right;
}
.card_table_img{
  z-index: -1;
}
.fix {
  display: none;
  /* background-color: rgba(0,0,0,.5); */
}
input{
  display: none;
}
.table_check_1_01{position: absolute;top: 150px;left: 50px;}
.table_check_1_02{position: absolute;top: 150px;left: 200px;}
.table_check_1_03{position: absolute;top: 150px;left: 350px;}
.table_check_1_04{position: absolute;top: 150px;left: 500px;}
.table_check_1_05{position: absolute;top: 150px;left: 650px;}
.table_check_1_06{position: absolute;top: 150px;left: 800px;}
.table_check_1_07{position: absolute;top: 320px;left: 50px;}
.table_check_1_08{position: absolute;top: 320px;left: 200px;}
.table_check_1_09{position: absolute;top: 320px;left: 350px;}
.table_check_1_10{position: absolute;top: 320px;left: 500px;}
.table_check_1_11{position: absolute;top: 320px;left: 650px;}
.table_check_1_12{position: absolute;top: 320px;left: 800px;}
.table_check_1_13{position: absolute;top: 490px;left: 50px;}
.table_check_1_14{position: absolute;top: 490px;left: 200px;}
.table_check_1_15{position: absolute;top: 490px;left: 350px;}
.table_check_1_16{position: absolute;top: 490px;left: 500px;}
.table_check_1_17{position: absolute;top: 490px;left: 650px;}
.table_check_1_18{position: absolute;top: 490px;left: 800px;}
.table_check_1_19{position: absolute;top: 660px;left: 50px;}
.table_check_1_20{position: absolute;top: 660px;left: 200px;}
.table_check_1_21{position: absolute;top: 660px;left: 350px;}
.table_check_1_22{position: absolute;top: 660px;left: 500px;}
.table_check_1_23{position: absolute;top: 660px;left: 650px;}
.table_check_1_24{position: absolute;top: 660px;left: 800px;}


.class_check_x_01:checked ~ .table_check_1_01.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_02:checked ~ .table_check_1_02.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_03:checked ~ .table_check_1_03.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_04:checked ~ .table_check_1_04.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_05:checked ~ .table_check_1_05.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_06:checked ~ .table_check_1_06.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_07:checked ~ .table_check_1_07.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_08:checked ~ .table_check_1_08.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_09:checked ~ .table_check_1_09.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_10:checked ~ .table_check_1_10.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_11:checked ~ .table_check_1_11.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_12:checked ~ .table_check_1_12.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_13:checked ~ .table_check_1_13.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_14:checked ~ .table_check_1_14.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_15:checked ~ .table_check_1_15.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_16:checked ~ .table_check_1_16.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_17:checked ~ .table_check_1_17.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_18:checked ~ .table_check_1_18.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_19:checked ~ .table_check_1_19.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_20:checked ~ .table_check_1_20.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_21:checked ~ .table_check_1_21.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_22:checked ~ .table_check_1_22.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_23:checked ~ .table_check_1_23.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_check_x_24:checked ~ .table_check_1_24.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}


.class_radio_x_01:checked ~ .table_check_1_01.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_02:checked ~ .table_check_1_02.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_03:checked ~ .table_check_1_03.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_04:checked ~ .table_check_1_04.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_05:checked ~ .table_check_1_05.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_06:checked ~ .table_check_1_06.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_07:checked ~ .table_check_1_07.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_08:checked ~ .table_check_1_08.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_09:checked ~ .table_check_1_09.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_10:checked ~ .table_check_1_10.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_11:checked ~ .table_check_1_11.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_12:checked ~ .table_check_1_12.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_13:checked ~ .table_check_1_13.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_14:checked ~ .table_check_1_14.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_15:checked ~ .table_check_1_15.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_16:checked ~ .table_check_1_16.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_17:checked ~ .table_check_1_17.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_18:checked ~ .table_check_1_18.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_19:checked ~ .table_check_1_19.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_20:checked ~ .table_check_1_20.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_21:checked ~ .table_check_1_21.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_22:checked ~ .table_check_1_22.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_23:checked ~ .table_check_1_23.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}
.class_radio_x_24:checked ~ .table_check_1_24.card_table_img .card{transform: translateX(-100%) rotateY(180deg);}

.class_check_x_01:checked  ~ .fix_1 {display: inline;}
.class_check_x_02:checked  ~ .fix_2 {display: inline;}
.class_check_x_03:checked  ~ .fix_3 {display: inline;}
.class_check_x_04:checked  ~ .fix_4 {display: inline;}
.class_check_x_05:checked  ~ .fix_5 {display: inline;}
.class_check_x_06:checked  ~ .fix_6 {display: inline;}
.class_check_x_07:checked  ~ .fix_7 {display: inline;}
.class_check_x_08:checked  ~ .fix_8 {display: inline;}
.class_check_x_09:checked  ~ .fix_9 {display: inline;}
.class_check_x_10:checked  ~ .fix_10 {display: inline;}
.class_check_x_11:checked  ~ .fix_11 {display: inline;}
.class_check_x_12:checked  ~ .fix_12 {display: inline;}
.class_check_x_13:checked  ~ .fix_13 {display: inline;}
.class_check_x_14:checked  ~ .fix_14 {display: inline;}
.class_check_x_15:checked  ~ .fix_15 {display: inline;}
.class_check_x_16:checked  ~ .fix_16 {display: inline;}
.class_check_x_17:checked  ~ .fix_17 {display: inline;}
.class_check_x_18:checked  ~ .fix_18 {display: inline;}
.class_check_x_19:checked  ~ .fix_19 {display: inline;}
.class_check_x_20:checked  ~ .fix_20 {display: inline;}
.class_check_x_21:checked  ~ .fix_21 {display: inline;}
.class_check_x_22:checked  ~ .fix_22 {display: inline;}
.class_check_x_23:checked  ~ .fix_23 {display: inline;}
.class_check_x_24:checked  ~ .fix_24 {display: inline;}

.class_check_x_01:checked  ~ .class_radio_x_12:checked ~ .fix_12 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_02:checked  ~ .class_radio_x_16:checked ~ .fix_16 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_03:checked  ~ .class_radio_x_15:checked ~ .fix_15 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_04:checked  ~ .class_radio_x_14:checked ~ .fix_14 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_05:checked  ~ .class_radio_x_18:checked ~ .fix_18 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_06:checked  ~ .class_radio_x_20:checked ~ .fix_20 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_07:checked  ~ .class_radio_x_22:checked ~ .fix_22 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_08:checked  ~ .class_radio_x_19:checked ~ .fix_19 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_09:checked  ~ .class_radio_x_24:checked ~ .fix_24 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_10:checked  ~ .class_radio_x_21:checked ~ .fix_21 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_11:checked  ~ .class_radio_x_17:checked ~ .fix_17 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_12:checked  ~ .class_radio_x_01:checked ~ .fix_1 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_13:checked  ~ .class_radio_x_23:checked ~ .fix_23 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_14:checked  ~ .class_radio_x_04:checked ~ .fix_4 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_15:checked  ~ .class_radio_x_03:checked ~ .fix_3 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_16:checked  ~ .class_radio_x_02:checked ~ .fix_2 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_17:checked  ~ .class_radio_x_11:checked ~ .fix_11 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_18:checked  ~ .class_radio_x_05:checked ~ .fix_5 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_19:checked  ~ .class_radio_x_08:checked ~ .fix_8 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_20:checked  ~ .class_radio_x_06:checked ~ .fix_6 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_21:checked  ~ .class_radio_x_10:checked ~ .fix_10 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_22:checked  ~ .class_radio_x_07:checked ~ .fix_7 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_23:checked  ~ .class_radio_x_13:checked ~ .fix_13 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}
.class_check_x_24:checked  ~ .class_radio_x_09:checked ~ .fix_9 {display: inline; counter-increment: gamescore 100;/* opacity: 0; */}


#showscore::after {
  content: counter(gamescore);
}


.class_check_x_01:not(:checked) ~ .class_radio_1_xx + label{display: none;}
.class_check_x_02:not(:checked) ~ .class_radio_2_xx + label{display: none;}
.class_check_x_03:not(:checked) ~ .class_radio_3_xx + label{display: none;}
.class_check_x_04:not(:checked) ~ .class_radio_4_xx + label{display: none;}
.class_check_x_05:not(:checked) ~ .class_radio_5_xx + label{display: none;}
.class_check_x_06:not(:checked) ~ .class_radio_6_xx + label{display: none;}
.class_check_x_07:not(:checked) ~ .class_radio_7_xx + label{display: none;}
.class_check_x_08:not(:checked) ~ .class_radio_8_xx + label{display: none;}
.class_check_x_09:not(:checked) ~ .class_radio_9_xx + label{display: none;}
.class_check_x_10:not(:checked) ~ .class_radio_10_xx + label{display: none;}
.class_check_x_11:not(:checked) ~ .class_radio_11_xx + label{display: none;}
.class_check_x_12:not(:checked) ~ .class_radio_12_xx + label{display: none;}
.class_check_x_13:not(:checked) ~ .class_radio_13_xx + label{display: none;}
.class_check_x_14:not(:checked) ~ .class_radio_14_xx + label{display: none;}
.class_check_x_15:not(:checked) ~ .class_radio_15_xx + label{display: none;}
.class_check_x_16:not(:checked) ~ .class_radio_16_xx + label{display: none;}
.class_check_x_17:not(:checked) ~ .class_radio_17_xx + label{display: none;}
.class_check_x_18:not(:checked) ~ .class_radio_18_xx + label{display: none;}
.class_check_x_19:not(:checked) ~ .class_radio_19_xx + label{display: none;}
.class_check_x_20:not(:checked) ~ .class_radio_20_xx + label{display: none;}
.class_check_x_21:not(:checked) ~ .class_radio_21_xx + label{display: none;}
.class_check_x_22:not(:checked) ~ .class_radio_22_xx + label{display: none;}
.class_check_x_23:not(:checked) ~ .class_radio_23_xx + label{display: none;}
.class_check_x_24:not(:checked) ~ .class_radio_24_xx + label{display: none;}


#id_radio_1_12:checked ~ .class_radio_1_xx + label{display: none;}
#id_radio_2_16:checked ~ .class_radio_2_xx + label{display: none;}
#id_radio_3_15:checked ~ .class_radio_3_xx + label{display: none;}
#id_radio_4_14:checked ~ .class_radio_4_xx + label{display: none;}
#id_radio_5_18:checked ~ .class_radio_5_xx + label{display: none;}
#id_radio_6_20:checked ~ .class_radio_6_xx + label{display: none;}
#id_radio_7_22:checked ~ .class_radio_7_xx + label{display: none;}
#id_radio_8_19:checked ~ .class_radio_8_xx + label{display: none;}
#id_radio_9_24:checked ~ .class_radio_9_xx + label{display: none;}
#id_radio_10_21:checked ~ .class_radio_10_xx + label{display: none;}
#id_radio_11_17:checked ~ .class_radio_11_xx + label{display: none;}
#id_radio_12_01:checked ~ .class_radio_12_xx + label{display: none;}
#id_radio_13_23:checked ~ .class_radio_13_xx + label{display: none;}
#id_radio_14_04:checked ~ .class_radio_14_xx + label{display: none;}
#id_radio_15_03:checked ~ .class_radio_15_xx + label{display: none;}
#id_radio_16_02:checked ~ .class_radio_16_xx + label{display: none;}
#id_radio_17_11:checked ~ .class_radio_17_xx + label{display: none;}
#id_radio_18_05:checked ~ .class_radio_18_xx + label{display: none;}
#id_radio_19_08:checked ~ .class_radio_19_xx + label{display: none;}
#id_radio_20_06:checked ~ .class_radio_20_xx + label{display: none;}
#id_radio_21_10:checked ~ .class_radio_21_xx + label{display: none;}
#id_radio_22_07:checked ~ .class_radio_22_xx + label{display: none;}
#id_radio_23_13:checked ~ .class_radio_23_xx + label{display: none;}
#id_radio_24_09:checked ~ .class_radio_24_xx + label{display: none;}


  #credit-author{
  color: rgba(0,0,0,.5);
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 5px;
}
#credit-author a{
  color: rgba(0,0,255,.5);
}
