a.btn:hover {
    transform: scale(1);
 }
 a.btn {
    transform: scale(0.8);
    transition: 0.5s;
 }

#grad1 {
/*    height: 250px;
    width: 100%;*/
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
}

body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  color: white;
}

.profilepicture {
    /*outline: 10px solid orange;*/
    /*border-width: 15px !important;*/
    /*border-radius: 100%;*/
    /*border-style: solid;*/
    border-width: 5px !important;
    /*border: 5px solid white !important;*/
}

