{% extends "master.html.twig" %}

{% block title %}
    Fatal Error
{% endblock %}

{% block content %}
    <p>We're sorry, an internal fatal error ocurred.
        Our team of coding Ninjas has been notified of the issue.
    <a href="/">click to continue</a>.</p>
    <img src='/images/ninja.png' height="300"/><br><br>
{% endblock %}
