{% extends "master.html.twig" %}

{% block title %}{{user.first_name}} {{user.last_name}} - Logged in{% endblock %}
        {% block addhead %}  
            <meta http-equiv="refresh" content="0; url={{user.username}}/news" />
        {% endblock %}

{% block content %}
{#    <h1>You've been looged !!. You'll be redirected in 0 seconds</h1>#}
{% endblock %}