{% extends "master.html.twig" %}

{% block title %}Logged out{% endblock %}
        {% block addhead %}  
            <meta http-equiv="refresh" content="0; url=/" />
        {% endblock %}

{% block content %}
{#    <h1>You've been logged out. You'll be redirected in 0 seconds</h1>#}
{% endblock %}