<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %} - FacePalm</title>
        <script>
            $(document).ready(function () {
                $("#searchUserText").keyup(function () {
                    var inputText = $("#searchUserText").val();
                    var link = document.getElementById("searchUserAddress");
                    link.setAttribute('href', "/{{user.username}}/search/" + inputText);
                });
            });
        </script>
        {% block addhead %}        
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row bd-navbar">
                <div class="col-md-1"></div>            
                <a class="navbar-brand" href="#">FACEPALM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0" method="post">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchUser" id="searchUserText">
                        <a href="" id="searchUserAddress" class="btn btn-outline-success my-2 my-sm-0">Search</a>
{#                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/{{user.username}}/news">News <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/{{user.username}}/posts">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/{{user.username}}/friends">Friends</a>
                        </li>
{#                        <li class="nav-item disabled">
                            <a class="nav-link" href="/{{user.username}}/messages">Messages</a>
                        </li>#}
                        <li class="nav-item disabled">
                            <a class="nav-link" href="/{{user.username}}/about">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1"></div> 
        </nav>           

        <div id="centeredContent" class="container-fluid">
           
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>