{% extends "master.html.twig" %}

{% block title %}News{% endblock %}

{% block addhead %}   
    <script>
        $(function () {
            $('.extra_field').hide();
            $("input[name='post_type']").change(function () {
                $('.extra_field').hide();
                $('.' + $("input[name='post_type']:checked").val() + '_input').show();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <main class="container-fluid" >
        <div class="row justify-content-md-center">
            <div class="col-10" style="">
                <!-- news feed -->
                <!--- \\\\\\\Post-->
                
                <form method="post" enctype="multipart/form-data">
                    <div class="card gedf-card text-white bg-secondary">
                        <div class="card-header navbar-dark bg-dark">
                            <p><b>WHAT'S ON YOUR MIND?</b></p>
                        </div>
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 ">        
                                    <a href="/{{user.username}}/pictures/album/{{user.albumProfilePicturesId}}/image/{{user.profilePictureId}}">
                                        <img src="/{{user.username}}/pictures/album/{{user.albumProfilePicturesId}}/image/{{user.profilePictureId}}" 
                                             class="rounded-circle border border-white profilepicture" style="width: 150px; height: 150px;"/>
                                    </a>
                                </div>
                                <div class="media-body">

                            
                                    <div class="form-group">
                                        <textarea id="status" name="message" style="width: 100%"></textarea>
                                        <br />
                                        <input type="radio" name="post_type" value="update" checked/>Update
                                        <input type="radio" name="post_type" value="video" />Video
                                        <input type="radio" name="post_type" value="image" />Image
                                        <input type="radio" name="post_type" value="link" />Link
                                        <br />
                                        <div class="video_input extra_field">
                                            <label for="video_url" >YouTube URL</label>
                                            <input type="text"  name="video_url"  /><br />
                                        </div>
                                        <div class="image_input extra_field">
                                            <label for="image_file" >Upload image</label>
                                            <input type="file"  name="image"  /><br />
                                        </div>
                                        <div class="link_input extra_field">
                                            <label for="link_url" >Link</label>
                                            <input type="text"  name="link_url"  /><br />
                                        </div>
                                        <div class="btn-toolbar justify-content-between">
                                            <div class="btn-group">
                                                <input type="submit" name="doPost" class="btn btn-primary" value="Post">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                    </div>
                </form>
                <br>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                {% for p in posts %}
                    <div class="card gedf-card bg-light">
                        <div class="card-header navbar-dark bg-dark">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src='/images/mark-zuckerberg-4.jpg' alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">@USERNAME</div>
                                        <div class="h7 text-muted">Posted by {{p.postUserId}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark">
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{p.timeStamp}}</div>
                            <a class="card-link" href="#">
                                <h5 class="card-title">Title</h5>
                            </a>
                            <!-— message -->
                            <p class="card-text">
                            <p>{{p.message}}</p>
                            <!-— ./message -->
                            {% if p.postPictureId %}
                                <!-— image -->
                                <img src="/{{user.username}}/posts/{{p.postPictureId}}/image" width="200">
                                <!-— ./image -->
                            {% endif %}  

                            {% if p.link %}
                                <!-— link -->
                                <a href="{{p.link}}">{{p.link}}</a>
                                <!-— ./link -->
                            {% endif %}   

                            {% if p.postVideoId %} 
                                <!-— video -->
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/{{p.postVideoId}}">
                                </iframe>
                                <!-— ./video -->
                            {% endif %}
                        </div>
                        <div class="card-footer text-dark">
                            <form method="post">
                                <textarea name="comment" style="width: 100%"></textarea>
                                <input type="hidden" name="postId" value={{p.id}} /><br>
                                <input type="submit" name="doComment" value="Comment" class="btn btn-primary"/>
                            </form>
                            {% if commentList %}   
                                {% for c in commentList %}
                                    {% if c.commentPostId is same as(p.id) %}
                                        <p><b>{{c.message}}</b></p>
                                        <p>Posted by {{c.commentUserId}} on {{c.timeStamp}}</p> 
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <br>
                {% endfor %}
                <!-- Post /////-->
            </div>
        </div>
    </main>
{% endblock %}