{% extends "master.html.twig" %}

{% block title %}News{% endblock %}

{% block addhead %}   
    <script type="text/javascript">
        $(function () {
            $('.extra_field').hide();
            $("input[name='post_type']").change(function () {
                $('.extra_field').hide();
                $('.' + $("input[name='post_type']:checked").val() + '_input').show();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!-- main -->
    <main class="container">
        <div class="row">
            <!-- friends -->
            <div class="col-md-3">
            </div>
            <!-- ./friends -->
            <div class="col-md-6">
                <!-- news feed -->
                <!-— post form -->
                <p><b>WELCOME TO YOUR  NEWS FEED</b></p>
                <form method="post" enctype="multipart/form-data">
                    <textarea id="status" name="message"></textarea>
                    <br />
                    <input type="radio" name="post_type" value="update" checked/>Update
                    <input type="radio" name="post_type" value="video" />Video
                    <input type="radio" name="post_type" value="image" />Image
                    <input type="radio" name="post_type" value="link" />Link
                    <br />
                    <div class="video_input extra_field">
                        <label for="video_url" class="">YouTube URL</label>
                        <input type="text" id="" name="video_url" class="" /><br />
                    </div>
                    <div class="image_input extra_field">
                        <label for="image_file" class="">Upload image</label>
                        <input type="file" id="" name="image" class="" /><br />
                    </div>
                    <div class="link_input extra_field">
                        <label for="link_url" class="">Link</label>
                        <input type="text" id="" name="link_url" class="" /><br />
                        <label for="link_description" class="">Description</label>
                        <input type="text" id="" name="link_description" class="" /><br />
                    </div>
                    <input type="hidden" name="postId" value={{p.id}} />
                    <input type="submit" name="doPost" value="Post" />
                </form>

                <hr>
                <!-— ./post form -->

                <div>
                    {% for p in posts %}
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-body">
{#                                {{ dump(p.id) }}#}
                                <!-— message -->
                                <p><b>{{p.message}}</b></p>
                                <!-— ./message -->

                                {% if p.postPictureId %}
                                    <!-— image -->
                                    <img src="/{{user.username}}/posts/{{p.postPictureId}}/image" width="200">
                                    <!-— ./image -->
                                {% endif %}  

                                {% if p.link %}
                                    <!-— link -->
                                    <a href="{{p.link}}">{{p.link}}</a>
                                    <!-— ./link -->
                                {% endif %}   

                                {% if p.postVideoId %} 
                                    <!-— video -->
                                    <iframe width="420" height="315"
                                            src="https://www.youtube.com/embed/{{p.postVideoId}}">
                                    </iframe>
                                    <!-— ./video -->
                                {% endif %}
                            </div>
                            <div class="panel-footer">
                                </p>Posted by {{p.postUserId}} on {{p.timeStamp}}</p>       
                                <form method="post">
                                    <textarea name="comment"></textarea>
                                    {#                                    <input type="hidden" name="postId" value={{p.id}} />#}
                                    <input type="submit" name="doComment" value="Comment" />
                                </form>
{#                                {{ dump(commentList) }}#}
                                {% if commentList %}   
                                    <ul>
                                        {% for c in commentList %}
                                            {% if c.commentPostId is same as(p.id) %}
                                                {#{{loop.parent.loop.index}}.{{loop.index}}:{{p.postId}}#}
                                                <li>{{c.message}}</li>
                                                </p>Posted by {{c.commentUserId}} on {{c.timeStamp}}</p>  
{#                                                {{ dump(p.id) }}
                                                {{ dump(c.commentPostId) }}#}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    <!-- notifications -->
                </div>
                <!-- ./notifications -->
            </div>
    </main>
    <!-- ./main -->
{% endblock %}