{% extends "user.html.twig" %}

{% block title %}{{user.firstName}} {{user.lastName}}{% endblock %}

{% block addhead %}   
    <script>
        function unfriend(userid) {
                if (confirm("Are you sure ?")){
                        $.ajax({
                            url: "/{{user.username}}/unfriend/" + userid,
                            // data: {},
                            type: "DELETE",
                            dataType: "json"
                        }).done(function () {
                            alert("Deleted successfully");
                        });                    
                }
                location.reload();
            }
        
        function acceptRequest(userid) {
                        var friendship = {userRequestId: userid + "", userAnswerId: {{user.id}} + "", friendshipAccepted: 1 + ""};  
                        $.ajax({
                            url: "/{{user.username}}/acceptrequest/" + userid,
                            data: JSON.stringify(friendship),
                            type: "PUT",
                            dataType: "json"
                        }).done(function () {
                            alert("Request accepted successfully, you are friends!");
                        });                    
                location.reload();
            }
            
        function addFriend(userid) {
                        var friendship = {userRequestId: {{user.id}} + "", userAnswerId: userid + "", friendshipAccepted: 0 + ""};
                        $.ajax({
                            url: "/{{user.username}}/addfriend/" + userid,
                            data: JSON.stringify(friendship),
                            type: "POST",
                            dataType: "json"
                        }).done(function () {
                            alert("Request Sent successfully");
                        });                    
                location.reload();
            }            
    </script>
{% endblock %}

{% block addsection %}
{#    <h1>Search list for {{user.firstName}} {{user.lastName}} here</h1>#}
<div class="container">
    {% if searchedAndFriends %}   
    {% else %}
        {% if searchedAndReceivedRequest %}
        {% else %}
            {% if searchedAndSentRequest %}
            {% else %}
                {% if searchedNotFriendsNotSentNotReceivedRequest %}
                {% else %}
                    <h1>Hello {{user.firstName}} {{user.lastName}},<br> Sorry, but there are no accounts matching your search criteria  :(</h1>
                {% endif %}                
            {% endif %}             
        {% endif %}          
    {% endif %}    
    
    <div class="card-columns">
    {% for userSearched in searchedAndFriends %}
            <div class="card text-center" style="width: 13rem;">
              <img class="card-img-top rounded-circle border border-white profilepicture" style="width: 150px; height: 150px;"
                   src="/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}" alt="{{userSearched.firstName}} {{userSearched.lastName}}">
              <div class="card-body">
                <h5 class="card-title">
                    <a href='/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}'> 
                        {{userSearched.firstName}} {{userSearched.lastName}}
                    </a>
                </h5>
                    <div class="dropdown">
                      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton{{userSearched.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Friends
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{userSearched.id}}">
                        <span class="dropdown-item" onclick="unfriend({{userSearched.id}})" >Unfriend</span>
                      </div>
                    </div>
              </div>
            </div>    
    {% endfor %}    
    {% for userSearched in searchedAndReceivedRequest %}
            <div class="card text-center" style="width: 13rem;">
              <img class="card-img-top rounded-circle border border-white profilepicture" style="width: 150px; height: 150px;"
                   src="/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}" 
                   alt="{{userSearched.firstName}} {{userSearched.lastName}}">
              <div class="card-body">
                <h5 class="card-title">
                    <a href='/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}'> 
                        {{userSearched.firstName}} {{userSearched.lastName}}
                    </a>
                </h5>
                    <div class="dropdown">
                      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton{{userSearched.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Answer Request
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{userSearched.id}}">
                        <span class="dropdown-item" onclick="acceptRequest({{userSearched.id}})" >Accept Request</span>
                        <span class="dropdown-item" onclick="unfriend({{userSearched.id}})" >Delete Request</span>
                      </div>
                    </div>
              </div>
            </div>    
    {% endfor %}  
    {% for userSearched in searchedAndSentRequest %}
            <div class="card text-center" style="width: 13rem;">
              <img class="card-img-top rounded-circle border border-white profilepicture" style="width: 150px; height: 150px;"
                   src="/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}" alt="{{userSearched.firstName}} {{userSearched.lastName}}">
              <div class="card-body">
                <h5 class="card-title">
                    <a href='/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}'> 
                        {{userSearched.firstName}} {{userSearched.lastName}}
                    </a>
                </h5>
                    <div class="dropdown">
                      <button class="btn btn-info " onclick="unfriend({{userSearched.id}})" type="button" id="dropdownMenuButton{{userSearched.id}}"  aria-haspopup="true" aria-expanded="false">
                        Cancel Request
                      </button>
                    </div>
              </div>
            </div>    
    {% endfor %}
    
    {% for userSearched in searchedNotFriendsNotSentNotReceivedRequest %}
            <div class="card text-center" style="width: 13rem;">
              <img class="card-img-top rounded-circle border border-white profilepicture" style="width: 150px; height: 150px;"
                   src="/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}" alt="{{userSearched.firstName}} {{userSearched.lastName}}">
              <div class="card-body">
                <h5 class="card-title">
                    <a href='/{{user.username}}/search/{{userSearched.id}}/image/{{userSearched.profilePictureId}}'> 
                        {{userSearched.firstName}} {{userSearched.lastName}}
                    </a>
                </h5>
                    <div class="dropdown">
                      <button class="btn btn-danger " onclick="addFriend({{userSearched.id}})" type="button" id="dropdownMenuButton{{userSearched.id}}"  aria-haspopup="true" aria-expanded="false">
                        Add Friend
                      </button>
                    </div>
              </div>
            </div>    
    {% endfor %}
    </div>
</div>
{% endblock %}