{% extends "user.html.twig" %}

{% block title %}{{user.firstName}} {{user.lastName}}{% endblock %}
{% block addhead %}   
    <script>
        
            $(document).ready(function() {
{#                {% if errorList %}
                    $("#buttonCreateAlbum").click();
                {% endif %} #}
                var count = 0;                     
                $("#buttonCreateAlbum").click(function() {
{#                    loadFile();#}
                    console.log("in append");
                    $('#containerinputLoadImage').empty();
                    $('#containerinputLoadImage').append(
                                    '<input type="file" id="inputLoadImage_' + count + '" name="images[]" '
                                    + 'style="" accept="image/gif, image/jpeg, image/png" multiple/>');
                    $('#inputLoadImage_' + count).click();
                    count += 1;
                });
                $("#buttonAddPicture").click(function() {
{#                   loadFile();#}
                    console.log("in append inside");
                    $('#containerinputLoadImage').append(
                                    '<input type="file" id="inputLoadImage_' + count + '" name="images[]" '
                                    + 'style="" accept="image/gif, image/jpeg, image/png" multiple/>');
                    $('#inputLoadImage_' + count).click();
                    count += 1;
                });
                $('#inputLoadImage_' + (count-1)).click (function(){ 
{#                    previewFile();#}
                    console.log("Hello world!");
              
            });
            });
        
    </script>
{% endblock %}
{% block addsection %}
    <h1>Album list for {{user.firstName}} {{user.lastName}} here</h1>

<!-- Button trigger modal -->
<button id="buttonCreateAlbum" type="button" class="btn btn-primary" 
        data-toggle="modal" data-target="#exampleModalCenter">
  + Create new album
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
{#                    {% if errorList %}
                        <ul>
                            {% for error in errorList %}
                                <li>{{error}}</li>
                            {% endfor %}   
                        </ul>
                    {% endif %}#}                    
                    Album name: <input type="text" name="albumName" value=""><br><br>

                    <button id="buttonAddPicture" type="button" class="btn btn-primary">
                        Select pictures</button>
                    <div id="containerinputLoadImage">
{#                        <input type="file" id="inputLoadImage" name="images[]" 
                               style="display:none" accept="image/gif, image/jpeg, image/png" multiple/>#}
                    </div>
                    <div id="previewImage">
                        {#            <img src="" height="200" alt="Image preview...">#}
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create Album" class="btn btn-primary"><br>
                    {#        <button type="button" class="btn btn-primary">Save changes</button>#} 
                </div>
            </form> 
        </div>
    </div>
</div>
<div class="container">
    {% for album in albumList %}
        {% if loop.index is odd %}
            <div class="row">
        {% endif %}
        
          <div class="col-5 border border-dark">
            <p>
                <br>
                    <img src='/images/mark-zuckerberg-4.jpg' height="100"/>
                {{ loop.index }} 
                <a href='pictures/album/{{album.id}}'><b>{{album.albumName}}</b></a>
                <br>
            </p>
          </div>
            <div class="col-1 "></div>
            
        {% if loop.index is even %}
            </div>
        {% endif %}    
        {% if loop.last %}
            {% if loop.index is odd %}
                </div>
            {% endif %}  
        {% endif %}
            <br>
    {% endfor %}    

</div>
{% endblock %}