{% extends "user.html.twig" %}

{% block title %}{{user.firstName}} {{user.lastName}}{% endblock %}
{% block addhead %}   
    <script>
        
            $(document).ready(function() {
                {% if errorList %}
                    $("#buttonCreateAlbum").click();
                {% endif %} 
                $("#buttonCreateAlbum").click(function() {
                    loadFile();
                });
                $("#buttonAddPicture").click(function() {
                    loadFile();
                });
                $("#inputLoadImage").change (function(){ 
                    previewFile();
                });
                
            });
        function loadFile() {
            $('#previewImage').empty();
            $("#inputLoadImage").click();
        }
        function previewFile() {
                var allFiles = $("#inputLoadImage")[0].files;
                for (var i = 0; i < allFiles.length; i++)
                {
                    if (!/\.(jpe?g|png|gif)$/i.test(allFiles[i].name)) {
                          return alert(allFiles[i].name + " is not an image");
                        }                    
                    var image = new Image();
                    image.height = 200;
                    image.title = allFiles[i].name;
                    image.src = URL.createObjectURL(allFiles[i]);
                    image.className = "rounded m-3 img-responsive ";
                   
                    var descriptionText = document.createElement("textarea");
                    descriptionText.name="description_" + i;
                    descriptionText.cols=40;
                    descriptionText.rows=5;
                    descriptionText.defaultValue =image.title;
                    
                    var largeDiv = document.createElement("div");
                    largeDiv.className = "row border border-primary m-3 p-2";
                    
                    var imageDiv = document.createElement("div");
                    imageDiv.className = "col-5";
                    
                    var textDiv = document.createElement("div");
                    textDiv.className = "col";
                    
                    var br = document.createElement('br');
                    var h6 = document.createElement("H6");
                    
                    imageDiv.append(image);
                    
                    h6.append("Description:");
                    textDiv.append(h6);
{#                    textDiv.append(br);#}
                    textDiv.append(descriptionText);
                    
                    largeDiv.append(imageDiv);
                    largeDiv.append(textDiv);
                    $('#previewImage').append(largeDiv);

                }
            }      
    </script>
{% endblock %}
{% block addsection %}
    <h1>Album list for {{user.firstName}} {{user.lastName}} here</h1>

<!-- Button trigger modal -->
<button id="buttonCreateAlbum" type="button" class="btn btn-primary" 
        data-toggle="modal" data-target="#exampleModalCenter">
  + Create new album
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% if errorList %}
                        <ul>
                            {% for error in errorList %}
                                <li>{{error}}</li>
                            {% endfor %}   
                        </ul>
                    {% endif %}                    
                    Album name: <input type="text" name="albumName" value=""><br><br>

                    <button id="buttonAddPicture" type="button" class="btn btn-primary">
                        Select pictures</button>
                    <input type="file" id="inputLoadImage" name="images[]" 
                           style="display:none" accept="image/gif, image/jpeg, image/png" multiple/>
                    <div id="previewImage">
                        {#            <img src="" height="200" alt="Image preview...">#}
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create Album" class="btn btn-primary"><br>
                    {#        <button type="button" class="btn btn-primary">Save changes</button>#} 
                </div>
            </form> 
        </div>
    </div>
</div>
<div class="container">
    {% for album in albumList %}
        {% if loop.index is odd %}
            <div class="row">
        {% endif %}
        
          <div class="col-5 border border-dark">
            <p>
                <br>
                    <img src='/images/mark-zuckerberg-4.jpg' height="100"/>
                {{ loop.index }} 
                <a href='pictures/album/{{album.id}}'><b>{{album.albumName}}</b></a>
                <br>
            </p>
          </div>
            <div class="col-1 "></div>
            
        {% if loop.index is even %}
            </div>
        {% endif %}    
        {% if loop.last %}
            {% if loop.index is odd %}
                </div>
            {% endif %}  
        {% endif %}
            <br>
    {% endfor %}    

</div>
{% endblock %}