{% extends "master.html.twig" %}

{% block title %}News{% endblock %}

{% block content %}
    <!-- main -->
<br>
<main class="container-fluid" >
    <div class="row justify-content-md-center">
        <div class="col-10" id="grad2">
            <!-- user profile -->
            <div class="media">
                <div class="mr-3 ">
{#                    {{user.username}}<br>#}
{#                    {{user.albumProfilePicturesId}}<br>#}
{#                    {{user.profilePictureId}}<br>#}
                    <a href="/{{user.username}}/pictures/album/{{user.albumProfilePicturesId}}/image/{{user.profilePictureId}}">
                        <img src="/{{user.username}}/pictures/album/{{user.albumProfilePicturesId}}/image/{{user.profilePictureId}}"
                             alt="{{user.firstName}} {{user.lastName}}"
                             class="rounded-circle border border-white profilepicture" style="width: auto; height: 150px;"/>
                    </a>
                </div>
                <div class="media-body">
                    <br>
                    <h2 class="mt-0 display-4">{{user.firstName}} {{user.lastName}}</h2>
                    <p></p>
                </div>
            </div>
            <ul class="nav justify-content-center  lead">
                <li class="nav-item ">
                    <a class="nav-link {{navcolor.about}}" href="/{{user.username}}/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{navcolor.friends}}" href="/{{user.username}}/friends">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{navcolor.posts}}" href="/{{user.username}}/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{navcolor.pictures}}" href="/{{user.username}}/pictures">Pictures</a>
                </li>
            </ul>
            <hr>
            {% block addsection %}        
            {% endblock %}
        </div>

    </div>
</main>
<!-- ./main -->
{% endblock %}