{% extends "user.html.twig" %}

{% block title %}{{user.firstName}} {{user.lastName}}{% endblock %}
{% block addhead %}   
    <script>
        
            $(document).ready(function() {
                {% if errorList %}
                    $("#buttonCreateAlbum").click();
                {% endif %} 
                $("#buttonCreateAlbum").click(function() {
                    loadFile();
                });
                $("#buttonAddPicture").click(function() {
                    loadFile();
                });
                $("#inputLoadImage").change (function(){ 
                    previewFile();
                });
                
            });
        function loadFile() {
            $('#previewImage').empty();
            $("#inputLoadImage").click();
        }
        function previewFile() {
                var allFiles = $("#inputLoadImage")[0].files;
                for (var i = 0; i < allFiles.length; i++)
                {
                    if (!/\.(jpe?g|png|gif)$/i.test(allFiles[i].name)) {
                          return alert(allFiles[i].name + " is not an image");
                        }                    
                    var image = new Image();
                    image.height = 200;
                    image.title = allFiles[i].name;
                    image.src = URL.createObjectURL(allFiles[i]);
                    image.className = "rounded m-3 img-responsive border-primary";
                   
                    var descriptionText = document.createElement("textarea");
                    descriptionText.name="description_" + i;
                    descriptionText.cols=40;
                    descriptionText.rows=5;
                    descriptionText.defaultValue =image.title;
                    
                    var largeDiv = document.createElement("div");
                    largeDiv.className = "row border border-primary m-3 p-2";
                    
                    var imageDiv = document.createElement("div");
                    imageDiv.className = "col-5";
                    
                    var textDiv = document.createElement("div");
                    textDiv.className = "col";
                    
                    var br = document.createElement('br');
                    var h6 = document.createElement("H6");
                    
                    imageDiv.append(image);
                    
                    h6.append("Description:");
                    textDiv.append(h6);
{#                    textDiv.append(br);#}
                    textDiv.append(descriptionText);
                    
                    largeDiv.append(imageDiv);
                    largeDiv.append(textDiv);
                    $('#previewImage').append(largeDiv);

                }
            }
            
        function deleteAlbum(albumid) {
                console.log("delete album id: " + albumid);
                console.log("/{{user.username}}/pictures/album/" + albumid + "/delete");
                if (confirm("Are you sure to delete this album ?")){
                    var idToHide = "#album_" + (albumid + "");
                    $(idToHide).hide();
                        $.ajax({
                            url: "/{{user.username}}/pictures/album/" + albumid + "/delete",
                            // data: {},
                            type: "DELETE",
                            dataType: "json"
                        }).done(function () {
                            alert("Deleted successfully");
                        });                    
                }
            }
           
    </script>
{% endblock %}
{% block addsection %}
{#    <h1>Album list for {{user.firstName}} {{user.lastName}} here!!</h1>#}
   
<!-- Button trigger modal -->
<button id="buttonCreateAlbum" type="button" class="btn btn-primary" rel="tooltip"
        data-toggle="modal" data-placement="right" title="Choose a file to upload" data-target="#uploadPhotosInAlbumModal">
  + Create new album
</button>
<br><br>
<!-- Modal -->
<div class="modal fade" id="uploadPhotosInAlbumModal" tabindex="-1" role="dialog" aria-labelledby="uploadPhotosInAlbumModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
            <div class="modal-header bg-light">
{#                <h1 class="modal-title" id="uploadPhotosInAlbumModalTitle">Create&nbsp;Album</h1>#}
                <div class="input-group input-group-xl">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Create&nbsp;Album</span>
                    </div>
                  <input name="albumName" placeholder="Album name" type="text" 
                         class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{albumName}}">
                </div>                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
                <div class="modal-body">
                    <div class="row">
                    <div class="col-3" style="">
                        <textarea name="albumDescription" rows="6" placeholder="Description..." style="width: 100%">{{albumDescription}}</textarea>
                        <br>                    
                  
                    <br><br>

                    <button id="buttonAddPicture" type="button" class="btn btn-primary">
                        Select pictures</button>
                    <input type="file" id="inputLoadImage" name="images[]" 
                           style="display:none" accept="image/gif, image/jpeg, image/png" multiple/>
                    </div>
                    <div class="col-9">
                    <div id="previewImage">
                    {% if errorList %}
                        <ul>
                            {% for error in errorList %}
                                <li class='text-danger'><i class="material-icons">error_outline</i> {{error}}</li>
                            {% endfor %}   
                        </ul>
                    {% endif %}  
                    </div>
                    <br>
                    </div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create Album" class="btn btn-primary"><br>
                    {#        <button type="button" class="btn btn-primary">Save changes</button>#} 
                </div>
            </form> 
        </div>
    </div>
</div>
<div class="container">
    {% for album in albumList %}
        {% if loop.index is odd %}
            <div class="row">
        {% endif %}
        <a href='pictures/album/{{album.id}}'class="text-white" >
          <div class="col-5 border border-light rounded" id="album_{{album.id}}" 
               style="background: url(/{{user.username}}/pictures/album/{{album.id}}/image/{{album.albumCoverPictureId}}) black no-repeat center; background-size:cover; height: 200px; width: 400px;">
{#              {{ loop.index }} #}
                <a href='pictures/album/{{album.id}}'class="text-white blockquote" ><b>{{album.albumName}}</b></a>
              <div class="row justify-content-around">
                    <div class="col-4">
                    </div>                  
                <div class="col-1">  
                    {% if album.editable %}
                        <a href="#" class="btn btn-danger " onclick="deleteAlbum({{album.id}})"><i class="material-icons">delete_forever</i></a>
                    {% endif %}    
              </div>

            </div>
          </div>
            <div class="col-1 "></div>
            
        {% if loop.index is even %}
            </div>
        {% endif %}    
        {% if loop.last %}
            {% if loop.index is odd %}
                </div>
            {% endif %}  
        {% endif %}
            <br>
    {% endfor %}    

</div>
{% endblock %}