{% extends "user.html.twig" %}

{% block title %}{{user.firstName}} {{user.lastName}}{% endblock %}

{% block addhead %}   
    <script type="text/javascript">
        $(function () {
            $('#submit').hide();
            $("#edit").click(function () {
                $("#form").prop('disabled', false);
                $('#edit').hide();
                $('#submit').show();
            });
        });
    </script>
{% endblock %}

{% block addsection %}     
    {#    <p>User Name: {{user.username}} <br></p>
        <p>Email: {{user.email}} <br></p>
        <p>Phone: {{user.phone}} <br></p>
        <p>First Name: {{user.firstName}} <br></p>
        <p>Last Name: {{user.lastName}} <br></p>
        <p>Birth Date: {{user.birthday}} <br></p>
        <p>Language: {{user.language}} <br></p>
        <p>Location: {{user.location}} <br></p>
        <p>Gender: {{user.gender}} <br></p>#}
    {% if errorList %}    
        <ul class="error">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        <fieldset id="form" disabled>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" name="fName" value="{{user.firstName}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lName" name="lName" value="{{user.lastName}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="Phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="language">Language</label>
                    <select id="language" class="form-control" name="language" value="{{user.language}}">
                        <option selected>English</option>
                        <option>Spanish</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="bday">Birth Date</label>
                    <input type="date" class="form-control" id="bday" name="bday" value="{{user.bday}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gender">Gender</label>
                    <select id="gender" class="form-control" name="gender" value="{{user.gender}}">
                        <option selected>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="location">Location</label>
                    <select id="location" class="form-control" name="location" value="{{user.location}}">
                        <option selected>Canada</option>
                        <option>USA</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <button type="submit" id="submit" class="btn btn-primary">Update</button>
    </form>
    <button id="edit" class="btn btn-primary">Edit</button>
{% endblock %}