{% extends "user.html.twig" %}

{% block title %}{{user.firstName}} {{user.lastName}}{% endblock %}
{% block addhead %}   
    <script>
        $(document).ready(function(){
           $('[rel="tooltip"]').tooltip(
                    {container:'body', trigger: 'hover'}
                );
           $("#buttonCreateAlbum").click(function() {
                    $("#inputLoadImage").click();
                });
           $("#inputLoadImage").change (function(){ 
{#                    previewFile();#}
                    console.log("images loaded");
                    var allFiles = $("#inputLoadImage")[0].files;
                    for (var i = 0; i < allFiles.length; i++){
                        var image = new Image();
                        image.src = URL.createObjectURL(allFiles[i]);
                        image.className = "rounded m-3 img-responsive ";
                        $.ajax({
                            url: "/{{user.username}}/pictures,
                            data: JSON.stringify(image),
                            type: "POST",
                            dataType: "json"
                        }).done(function () {
                            alert("Addedd successfully");
                            $("#viewAddEditPane").hide();
                            refreshTodoList();
                        });                        
                    }
                });
        }); 
        function loadFile() {
{#            $('#previewImage').empty();#}
            
        }        
    </script>
{% endblock %}
{% block addsection %}
    <h1>Album list for {{user.firstName}} {{user.lastName}} here</h1>

<!-- Button trigger modal -->

<button id="buttonCreateAlbum" type="button" class="btn btn-primary" rel="tooltip"
        data-toggle="modal" data-placement="right" title="Choose a file to upload" data-target="#uploadPhotosInAlbumModal">
      + Create new album
</button>
<br>

<!-- Modal -->
<div class="modal fade" id="uploadPhotosInAlbumModal" tabindex="-1" role="dialog" aria-labelledby="uploadPhotosInAlbumModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <form method="post" enctype="multipart/form-data">   
            <div class="modal-header">
{#                <h1 class="modal-title" id="uploadPhotosInAlbumModalTitle">Create&nbsp;Album</h1>#}
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Create&nbsp;Album</span>
                    </div>
                  <input name="albumName" placeholder="Album name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-xl">
                </div>                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                     

                
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3" style="background-color:lavenderblush">
                            <textarea name="description" rows="6" placeholder="Description..." style="width: 100%"></textarea>
                <br>                    
{#                    {% if errorList %}
                        <ul>
                            {% for error in errorList %}
                                <li>{{error}}</li>
                            {% endfor %}   
                        </ul>
                    {% endif %}#}                    
                    <button id="buttonAddPicture" type="button" class="btn btn-primary">
                        Select pictures</button>
{#                    <input type="file" id="inputLoadImage" name="images[]" 
                           style="display:none" accept="image/gif, image/jpeg, image/png" multiple/>#}
                    </div>
                    <div class="col-9">
                    <div id="previewImage">
{#                    {% if errorList %}
                        <ul>
                            {% for error in errorList %}
                                <li>{{error}}</li>
                            {% endfor %}   
                        </ul>
                    {% endif %}#} 
                    </div>
                    <br>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create Album" class="btn btn-primary" name="loadInfo"><br>
                    {#        <button type="button" class="btn btn-primary">Save changes</button>#} 
                </div>
            </form> 
            <form method="post" enctype="multipart/form-data">  
                <input type="file" id="inputLoadImage" name="images[]" 
                            accept="image/gif, image/jpeg, image/png" multiple/>
                <input type="submit" value="Load Images" class="btn btn-primary" name="loadImages">
            </form>     
        </div>
    </div>
</div>
<div class="container"> 
    <br>
    {% for album in albumList %}
        {% if loop.index is odd %}
            <div class="row">
        {% endif %}
        
          <div class="col-5 border border-dark">
            <p>
                <br>
                    <img src='/images/mark-zuckerberg-4.jpg' height="100"/>
                {{ loop.index }} 
                <a href='pictures/album/{{album.id}}'><b>{{album.albumName}}</b></a>
                <br>
            </p>
          </div>
            <div class="col-1 "></div>
            
        {% if loop.index is even %}
            </div>
        {% endif %}    
        {% if loop.last %}
            {% if loop.index is odd %}
                </div>
            {% endif %}  
        {% endif %}
            <br>
    {% endfor %}    

</div>
{% endblock %}