{% extends "master.html.twig" %}

{% block title %}News{% endblock %}

{% block content %}
    <!-- main -->
<main class="container-fluid" >
    <div class="row justify-content-md-center">
            <!-- friends -->
            <div class="col-2" style="background-color:buttonface">
                <h4>Friends</h4>
                <div class="container">
                    {% for friend in friendList %}
                        {% if loop.index is odd %}
                            <div class="row">
                            {% endif %}

                            <div class="col-5 border border-dark">
                                <p>
                                    <br>
                                    <img src='/images/mark-zuckerberg-4.jpg' height="25"/>
                                    {{ loop.index }} 
                                    <a href='/{{friend.friendname}}/{{friend.id}}'><b>{{friend.firstName}} {{friend.lastName}}</b></a>
                                    <br>
                                </p>
                            </div>
                            <div class="col-1 "></div>

                            {% if loop.index is even %}
                            </div>
                        {% endif %}    
                        {% if loop.last %}
                            {% if loop.index is odd %}
                            </div>
                        {% endif %}  
                    {% endif %}
                    <br>
                {% endfor %}    

            </div>
        </div>
        <!-- ./friends -->
        <div class="col-6" style="background-color:lavenderblush">
            <!-- user profile -->
            <div class="media">
                <div class="media-left">
{#                    {{user.username}}<br>#}
{#                    {{user.albumProfilePicturesId}}<br>#}
{#                    {{user.profilePictureId}}<br>#}
                    <a href="/{{user.username}}/pictures/album/{{user.albumProfilePicturesId}}/image/{{user.profilePictureId}}">
                        <img src="/{{user.username}}/pictures/album/{{user.albumProfilePicturesId}}/image/{{user.profilePictureId}}" 
                             class="media-object" style="width: 128px; height: 128px;"/>
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{user.firstName}} {{user.lastName}}</h2>
                    <p></p>
                </div>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/{{user.username}}/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{user.username}}/friends">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{user.username}}/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{user.username}}/pictures">Pictures</a>
                </li>
            </ul>
            <hr>
            {% block addsection %}        
            {% endblock %}
        </div>
        <div class="col-2" style="background-color:buttonface">
            <!-- notifications -->
            <h4>Notifications</h4>
            <!-- ./notifications -->
        </div>
    </div>
</main>
<!-- ./main -->
{% endblock %}