{% extends "user.html.twig" %}

{% block title %}{{user.firstName}} {{user.lastName}}{% endblock %}
{% block addhead %}   
    <script>
        function unfriend(userid) {
                if (confirm("Are you sure ?")){
                        $.ajax({
                            url: "/{{user.username}}/unfriend/" + userid,
                            // data: {},
                            type: "DELETE",
                            dataType: "json"
                        }).done(function () {
                            alert("Deleted successfully");
                        });                    
                }
                location.reload();
            }
        
        function acceptRequest(userid) {
                        var friendship = {userRequestId: userid + "", userAnswerId: {{user.id}} + "", friendshipAccepted: 1 + ""};  
                        $.ajax({
                            url: "/{{user.username}}/acceptrequest/" + userid,
                            data: JSON.stringify(friendship),
                            type: "PUT",
                            dataType: "json"
                        }).done(function () {
                            alert("Request accepted successfully, you are friends!");
                        });                    
                location.reload();
            }
            
        function addFriend(userid) {
                        var friendship = {userRequestId: {{user.id}} + "", userAnswerId: userid + "", friendshipAccepted: 0 + ""};
                        $.ajax({
                            url: "/{{user.username}}/addfriend/" + userid,
                            data: JSON.stringify(friendship),
                            type: "POST",
                            dataType: "json"
                        }).done(function () {
                            alert("Request Sent successfully");
                        });                    
                location.reload();
            }            
    </script>
{% endblock %}
{% block addsection %}
{#    <h1>Friend list for {{user.firstName}} {{user.lastName}} here</h1>#}
<div class="container">
    {% if friendList %}
    {% else %}    
        <h1>Hello {{user.firstName}} {{user.lastName}},<br> look for new friends on the search bar!</h1>
    {% endif %}    
    
    <div class="card-columns">
    {% for friend in friendList %}
{#    {% for userSearched in searchedAndFriends %}#}
            <div class="card text-center" style="width: 13rem;">
              <img class="card-img-top rounded-circle border border-white profilepicture" style="width: 150px; height: 150px;"
                   src="/{{user.username}}/search/{{friend.id}}/image/{{friend.profilePictureId}}" alt="{{friend.firstName}} {{friend.lastName}}">
              <div class="card-body">
                <h5 class="card-title">
                    <a href='/{{user.username}}/search/{{friend.id}}/image/{{friend.profilePictureId}}'> 
                        {{friend.firstName}} {{friend.lastName}}
                    </a>
                </h5>
                    <div class="dropdown">
                      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton{{friend.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Friends
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{friend.id}}">
                        <span class="dropdown-item" onclick="unfriend({{friend.id}})" >Unfriend</span>
                      </div>
                    </div>
              </div>
            </div>    
{#    {% endfor %}#}
    {% endfor %}    
    </div>
</div>
{% endblock %}