/*Vahe wrote: Message Bord styles only!*/

#commentsFormID {
  padding-top: 200px;
}

.redborder {
  border: 1px solid red;
}

.fieldRequired {
  color: red;
}

#commentsID li {
  margin-top: 5px;
  /* color:#0080ff; */
  color: white;
  /* background-color: rgba(255,255,255, .4); */
  background-color: rgba(30, 0, 0, 0.5);
  width: 70%;
  border-radius: 5px;
  border: 1px solid red;
}

#commentsID li div {
  clear: left;
  margin-left: 20px;
  padding: 10px;
  color: white;
  /* background-color: #968482; */
  background-color: rgba(70, 0, 0, 0.3);
  /*max-width: 60%;*/
  vertical-align: top;
  text-align: left;
  border: 1px solid white;
  border-radius: 5px;
}

#commentsArea {
  color: white;
  background-color: rgba(255, 255, 255, .1);
  border-color: white;
}

#visitorID {
  color: white;
  background-color: rgba(255, 255, 255, .1);
  border-color: white;
}

#commentSubmitBtn {
  background-color: #1a0000;
  border-color: white;
}

label[for="visitorID"], label[for="commentsArea"] {
  /* color:#f45342; */
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
