@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
body, html {
  height: 100%;
  overflow: auto;
  background-color: black;
}

.bg {
  height: 100%;
  background-color: black;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-attachment: fixed;
}

.logo-placeholder {
  height: 50px;
  width: 180px;
  font-family: 'Love Ya Like A Sister', cursive;
}

.logo-1, .logo-2, .logo-3 {
  text-align: center;
  color: #f16f6f;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  line-height: 0;
  animation: glitch3 2.5s infinite;
}

.logo-2 {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.logo-3 {
  color: red;
  color: white;
  animation: glitch1 2.5s infinite;
}

/* ========== Glitch effect from https://codepen.io/FelixRilling/pen/vNJoMy ========== */

/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-4px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-4px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -4px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 4px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.fixed-top, .nav-album {
  background-color: rgba(33, 37, 41, 0.7);
}

.fixed-bottom {
  background-color: rgba(33, 37, 41, 0.4);
}

.rowh1 {
  height: 120px;
}

.fab {
  font-size: 40px;
  margin-top: -15px;
  margin-bottom: -25px;
}

.footer {
  text-shadow: 0 .1rem 0.5rem rgba(0, 0, 0, .75);
}

h4.d-flex, h3.d-flex {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

#about-page .fixed-bottom {
  /* height: 250px; */
  padding: 20px;
  overflow: auto;
}

#about-page .list-group-item-light {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

#about-page .list-group-item-danger {
  background-color: rgba(100, 0, 0, 0.4);
  color: grey;
}

#about-page .list-group-item-danger.active {
  background-color: rgba(200, 0, 0, 0.8);
  color: white;
}

#about-page li.list-group-item-danger.active {
  background-color: rgba(150, 0, 0, 0.5);
  color: white;
}

/* -------------SHOP------------- */

#shop {
  height: auto;
}

#shop_body .card {
  background-color: black;
  color: #A79E9E;
  margin: 6%;
}

#shop_body .price {
  padding-left: 5%;
}

#shop_body h1 {
  color: #A79E9E;
}

#shop_body {
  padding-top: 18%;
}

/* ----------Checkout------------ */

#checkout {
  height: auto;
}

#checkout_body {
  padding-top: 18%;
  color: black;
  padding-bottom: 6%;
}

#checkout_body h1 {
  color: #A79E9E;
}

#payment {
  background-color: #878281;
  padding: 8%;
  border-radius: 5%;
}

#gridCheck {
  padding-right: 5px;
}
